<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359297963009-vo15apusc7v3q87cecvqf7ccc3lug283.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359297963009-vo15apusc7v3q87cecvqf7ccc3lug283</string>
	<key>API_KEY</key>
	<string>AIzaSyD-hEf3A_7KxyuZxmo22clZZniaB0DEO5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>359297963009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ly.jbank.huayati.app</string>
	<key>PROJECT_ID</key>
	<string>huayatidev</string>
	<key>STORAGE_BUCKET</key>
	<string>huayatidev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359297963009:ios:8ed35f189ccf9fc8235c00</string>
</dict>
</plist>